<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>CheckIP</string>
    <key>CFBundleDisplayName</key>
    <string>CheckIP</string>
    <key>CFBundleIdentifier</key>
    <string>dev.valnoxy.checkip</string>
    <key>CFBundleVersion</key>
    <string>1.0.0-preview1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>CheckIP</string>
    <key>CFBundleIconFile</key>
    <string>CheckIP.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0-preview1</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true />
  </dict>
</plist>